<header>
<nav class="navbar">
    <div class="container">
        <div class="navbar-header header-logo">
            <a href="<%- config.root%>"><%= config.title%></a>
        </div>
        <nav class="menu navbar-right">
            <% for (var i in theme.menu){ %>
                <a class="blog-nav-item" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
            <% } %>
        </nav>
    </div>
</nav>
</header>
