<div class="post-toc hidden-sm">
    <div class="tocbot-list">
    </div>
    <div class="tocbot-list-menu">
        <a onclick="go_top()">Back to top</a>
        <a onclick="go_bottom()">Go to bottom</a>
    </div>
</div>

<script>
 window.onload = function() {
            tocbot.init({
                tocSelector: '.tocbot-list',
                contentSelector: '.post-content',
                headingSelector: 'h1, h2, h3, h4, h5',
                orderedList: false,
                scrollSmooth: true,
            })
 };
    function go_top() {
        window.scrollTo(0, 0);
    }
    function go_bottom() {
        window.scrollTo(0, document.body.scrollHeight);
    }
</script>
