html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  box-sizing: border-box;
}
iframe {
  background-color: white;
  display:block;
}

.desktop {
	height: 100%;
	display: flex;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-color: #cccccc;
}

.blurred-bg{
  background-image:url(img/background-blur.jpg);
  background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
  filter: brightness(50%);
}

.taskbar {
  background-color: black;
  position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
  opacity: 1;
  display: flex;
  overflow: hidden;
  background-color: rgba(0,0,0,0.7);

}

.start-button {
  position: abosolute;
  border: none;
  background:transparent;
  z-index: 1;
  opacity: 1!important;

}
.quick {
  display:flex;
  flex: 0.1;
  height: 100%;
}
.quick-icons {
  display: flex;

}
.quick-icon{
  position: relative;
  margin-top: 3px;
  margin-left: 5px;
}
.quick-icon:hover {
  transform: scale(0.95);
  background-color: grey !important;
  border-bottom: 2px solid #3278C8;
}
.tasks {
	display: flex;
	flex: 1;
	height: 100%;
}

.tray {
	display: flex;
	flex-direction: row;
	line-height: 22px;
	box-sizing: border-box;
	vertical-align: middle;
}

#time {
  margin-top: 3px;
  text-align: center;
  color: white;
	width: 50px;
  font-size: 10;
  display: flex;
  flex: 1;
}
.desktop-icons {
  margin-left: 50px;
}

.icons {
  position: relative;
  margin-top: 4px;
  padding: 8px;
  width: 70px;
  background-size: 48px!important;
}
.icons:hover {
  transform: scale(1.1);
  background-color: white;
  opacity: 0.5;
}

.icons .text {
    cursor: default;
    font-size: 15px;
    position: relative;
    margin: 38px 0 0;
    color: #fff;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
}
#draggable {
  visibility: hidden;
}

.window {
  height:600px;
  width:986px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 0;
  top: 200px;
  right: 300px;

  overflow: hidden;
  box-shadow: 0 2px 4px rgba(black, 0.5), 0 1px 1px rgba(black, 0.1);
  border:1px solid rgba(255,255,255,.3);


}

.title {
  background-color: white;
  cursor: move;
  height: 30px;
  width: 100%;
  position: absolute;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
}

.title-word {
  width: 100%;
  height: 35px;
  background: #2D5698;
  text-align: center;
  display: table;
  table-layout: fixed;
  place-text: center;
  color: #fff;
  cursor: move;
}


.windowbar {
  margin-left: 10px;
  margin-top: 4px;
  font-size: 12;
  display: flex;
  place-text: center;
  text-align: center;
}

.panel-left{
  padding-top: 30px;
  float: left;
  height: 100%;
  width: 180px;
  border-right:1px solid #d6e5f5;

  background-color: rgba(0,0,0,0.5);
  color: white;
  cursor: default;
}


hr {
  margin-top: 0;
  border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 96%;
}
.panel-left p {
  margin-left: 10px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;

}

.panel-left ul{
padding-top: -5px;
font-family: 'Lato', sans-serif;
font-size: 14px;
list-style:none;
padding:3px;
margin-bottom:15px;
color: white ;

}
.panel-left ul li {
list-style:none;
display:block;
}
.panel-left ul li a{
padding: 5px;
display:block;
text-decoration:none;
color: white;
padding-left:20px;
}
.panel-left ul li a:hover{
background:#197acb;
color:#fff;
}
.panel-left ul li ul{
}
.panel-left ul li ul li a{
padding-left:30px;
}

.panel-right{
  padding-top: 30px;
  background:#fcfcfc;
  display: flex;
  flex-flow: column;
  height: 100%;
  background: white;
}


#task {
  display: flex;
  background-color: grey;
  opacity: 0.5;
  width: 180px;
  border: 1px solid grey;
  color: white;
  border-bottom: 4px solid #3278C8;
}

#task .task_text {
  cursor: default;
  font-size: 15px;
  position: relative;
  margin: 5px 0 0;
  color: #fff;
  font-weight: 300;
  overflow: hidden;
}

.title-middle{
  display: table-cell;
  height: 20px;
  width: 200px;
}

.title-left, .title-right{
  height: 20px;
  display: table-cell;
}



.chrome-close {

  float: right;
}

.chrome-close a {
  text-decoration: none;
  font-size: 11px;
  padding: 8px 24px 7px 24px;
  color: grey;
}

.chrome-close a:hover:not(:last-child) {
  background: #dfdfdf;
  color: black;
}

.chrome-close a:hover:last-child {
  background: rgba(255, 0, 0, 0.781);
  color: white;
}

.chrome-close a:not(:first-child) {
  margin-left: -4px;
}


#start-menu-modal {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  bottom: 28px;
  height: 600px;
  color: white;
  visibility: hidden;
  display: grid;
  grid-template-columns: 50px 250px 400px;
  cursor: default;
}

#start-menu-modal:target {
  visibility: visible !important;
  animation-name: open;
  animation-duration: 0.1s;
  transition: 0.1s;
  z-index: 1;
}

@keyframes open {
  0% {
    height: 550px;
    opacity: 0.5;
  }
  100% {
    height: 600px;
    opacity: 1;
  }
}

#start-menu-modal #user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-menu-modal #user a {
  color: whitesmoke;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: default;
}

#start-menu-modal #user a:hover {
  background: rgba(255, 255, 255, 0.1);
}

#start-menu-modal #user .push {
  margin-bottom: auto;
}

#start-menu-modal #apps {
  display: flex;
  flex-direction: column;
  overflow-y: visible;
  padding: 10px;
}

#start-menu-modal #apps a {
  color: whitesmoke;
  display: flex;
  text-decoration: none;
  padding: 2px 10px 0px 20px;
  line-height: 2.5;
  font-size: 12px;
  letter-spacing: 0.5px;
  cursor: default;
}

#start-menu-modal #apps a img {
  height: 30px;
  width: 30px;
  padding: 4px;
}

#start-menu-modal #apps a img[alt="sublime"] {
  background: #292929;
}

#start-menu-modal #apps a img[alt="access"] {
  background: #7c2325;
}

#start-menu-modal #apps a i {
  font-size: 25px;
  line-height: 1.1;
}

#start-menu-modal #apps a span {
  margin-left: 8px;
  color: whitesmoke;
}

#start-menu-modal #apps a:hover {
  background: rgba(255, 255, 255, 0.1);
}

#start-menu-modal #apps a.category {
  height: 30px;
}

#start-menu-modal #others .title-others {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 10px 0px 20px;
  line-height: 2.5;
  font-size: 12px;
  letter-spacing: 0.5px;
}

#start-menu-modal #others .box-others {
  display: inline-flex;
  padding-left: 20px;
  flex-wrap: wrap;
}

#start-menu-modal #others .box-others .box {
  height: 100px;
  width: 100px;
  position: relative;
  background: #0078d7;
  margin-left: 4px;
  border: 2px solid transparent;
  margin-bottom: 4px;
}

#start-menu-modal #others .box-others .box img {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start-menu-modal #others .box-others .box span {
  position: absolute;
  bottom: 3px;
  left: 4px;
  font-size: 12px;
}

#start-menu-modal #others .box-others .box:hover {
  border: 2px solid #7fbbeb;
}
