
.header {
  text-align: center;
  position: relative;
}

header {
  font-family: 'UnifrakturCook', cursive;
  font-weight: 900;
    font-size: 80px;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;
}

body {
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-image: url(np.jpg);
    background-size: cover;
    background-color: ##f9f7f1;
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}

.left-page{
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
  float: left;
  height: 100%;
  width: 1200px;
  overflow: hidden;
}

.right-page{
  margin-top: 20px;
  margin-left: 10px;


}
.para{
  initial-letter: 2;
}

img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
