doctype html
html(lang='de')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='main.css', type='text/css')
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Projects
  body
    .wrapper
      .portfolio-single.container-fluid
        // .row
        .row
          .col-md-8.col-sm-8.portfolio-field.portfolio-title
            h2 #{title}
          .col-md-4.col-sm-4.portfolio-field.portfolio-nav
            a.button.back(href='index.html')
        .row
          // PORTFOLIO-IMAGES - column 8/12
          .col-md-8.portfolio-field
            .left
             -if(video)
              video(controls='', src='vids/emacs.mp4', poster='', style='width: 100%; height: 100%;')
             -if(img)
              img(src=''+img)
            .video-descript
              a.button.primary(href='#') View on Github
              a.button.primary(href='#') LAUNCH PROJECT

          .col-md-4.portfolio-field
            h3 Description
            p
              | #{description} 
              | Established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
            h3 Challenges 
            p #{challenge} 
            h3 Technology
            ul.tags
             each element in technology
              li
                a=element 
            .links
              a.button.primary(href='#') LAUNCH PROJECT
      // .portfolio-single
      // InstanceEndEditable
      // WRAPPER
      script.
        function goBack(){
        window.history.back();
        }
