doctype html
html(lang='de')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='main.css', type='text/css')
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Projects
  body
    .wrapper
      .portfolio-single.container-fluid
        // .row
        .row
          .col-md-8.portfolio-field.portfolio-title
            h2 #{title}
          .col-md-4.portfolio-field.portfolio-nav
            a.button.back(href='index.html')
        .row
          // PORTFOLIO-IMAGES - column 8/12
          .col-md-8.portfolio-field
            .left
              video(controls='', src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4', poster='', style='width: 100%; height: 100%;')
              .video-descript
                a.button.primary(href='#') View on Github
          .col-md-4.portfolio-field
            h3 Description
            p
              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
            p
              | Established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
            h3 Client
            p Apple Inc.
            h3 Technology
            ul.tags
              li
                a HTML 5
              li
                a CSS 3
              li
                a jQuery
              li
                a NodeJS
            .links
              a.button.primary(href='#') LAUNCH PROJECT
      // .portfolio-single
      // InstanceEndEditable
      // WRAPPER
      script.
        function goBack(){
        window.history.back();
        }
