<!-- Main Content -->
<div class="container" >
<div class="row main-content">
    <!-- Main Content -->
    <% if(theme.sidebar) { %>
    <div class="col-md-8 col-xs-12 blog-main">
        <% }else { %>
    <div class="col-sm-12 col-xs-12 blog-main">
        <% } %>
        <% page.posts.each(function(item){ %>
            <%- partial('_partial/article-excerpt', {item: item}) %>
            <hr>
        <% }); %>
    </div>
    <!-- Sidebar -->
    <% if(theme.sidebar) { %>
    <div class="col-sm-3 col-sm-offset-1 hidden-sm blog-sidebar">
        <%- partial('_partial/sidebar') %>
    </div>
    <% } %>

</div>
</div>

